<h1>Hello {{FirstName}} {{LastName}}</h1>
<h2>Email: {{Email}}</h2>
<h3>Username: {{Username}}</h3>
<h3>Status: {{Status}}</h3>


<!---{{#if accessUser}}
<p><form  method="POST" action="/users/{{UserId}}">
  <button type="submit">Delete</button>
</form></p>
{{/if}}--->